[*.{js,ts,html,scss}]
charset = utf-8
indent_style = tab
trim_trailing_whitespace = true
spaces_around_operators = inside
insert_final_newline = false

[package.json]
indent_style = space
indent_size = 2
insert_final_newline = true

[*.md]
indent_style = space